<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.EmployeeMapper">
    
    <!-- 관리자 로그인 -->
    <select id="emp_login" parameterType="com.smhrd.entity.Employee" resultType="com.smhrd.entity.Employee">
        select * from employee where emp_id=#{emp_id} and emp_pw=#{emp_pw}
    </select>

</mapper>