<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.MenuRecoMapper">
    
    <!-- 총 판매량 -->
    <select id="load_sales" resultType="com.smhrd.entity.MenuReco">
        SELECT m.menu_idx, m.menu_name_kor, SUM(r.menu_sales) AS total_sales
        FROM menu_reco r
        JOIN menu m ON r.menu_idx = m.menu_idx
        GROUP BY m.menu_idx, m.menu_name_kor
        ORDER BY total_sales DESC
        LIMIT 10
    </select>
    
    <!-- MenuReco 내용 로딩 & menu_idx 조인해서 menu_name_kor까지 로딩 -->
    <select id="load_reco" resultType="com.smhrd.entity.MenuReco">
        SELECT r.menu_idx, m.menu_category, m.menu_name_kor, r.reco_check, r.reco_ages, r.menu_sales
        FROM menu_reco r
        JOIN menu m ON r.menu_idx = m.menu_idx
    </select>
    
</mapper>