@charset "UTF-8";

body {
  background: #ffffff;
  font-size: 62.5%;
  line-height: 1;
  color: #000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* 전체 레이아웃 */
.container {
  display: flex;
  height: 70vh;
}

.left, .right {
  flex: 1;
  padding: 10px;
  margin-right: 0px;
}

.right {
  overflow-y: auto;
 }

/* 표 */
#wrapper {
  margin-top: 50px;
  width: 100%;

}

#boardlist {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  border-collapse: collapse;
  
}

#boardlist thead {
  position: sticky;
  top: 0;
  cursor: pointer;
  background: #69491a;
  color: #ffffff;
  z-index: 1;
}

#boardlist thead tr th {
  font-weight: bold;
  padding: 8px 24px;
  padding-left: 42px;
  white-space: nowrap;
}

#boardlist thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#boardlist tbody tr td {
  text-align: center;
  padding: 10px 8px; 
  font-size: 14px;
}

#boardlist tbody tr {
  border-bottom: 2px solid #F2F2F2;
}

#boardlist tbody tr td.lalign {
  text-align: left;
}

